# Auth
JWT_SECRET=super-secret-key-change-me

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=your-access-token-here

# Admin Bootstrap
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin-password-here

# SQLite Cloud Connection
# Format: sqlitecloud://user:pass@host.sqlite.cloud:port/database.db
SQLITE_CLOUD_CONNECTION_STRING=
